


/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
  background-image:url("../images/purple.png");
  }



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  /*position: absolute;*/
  position:static;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  color:white;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
  padding-left:60px;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  padding-bottom:175px;
}

#caropad2{
  padding-bottom:99px;
}

#caropad3{
  padding-bottom:121px;
}

.carousel-caption h1{
  font-size:72px;
  font-family: 'Abril Fatface', cursive;
  
}


/*media query for carousel h1 font*/



/* Smartphones (portrait and landscape) ----------- */
@media (min-device-width: 320px) and (max-device-width: 480px) {
.carousel-caption h1 {
font-size:35px;
        }
}
 
/* Smartphones (landscape) ----------- */
@media (min-width: 321px){
.carousel-caption h1 {
font-size:35px;
        }
}

 
/* Smartphones (portrait) ----------- */
@media (max-width: 320px) {
.carousel-caption h1 {
font-size:35px;
        }
}

 
/* iPads (portrait and landscape) ----------- */


@media (min-device-width: 768px) and (max-device-width: 1024px) {
.carousel-caption h1{
font-size:72px;
        }
}
 
/* iPads (landscape) ----------- */
@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
.carousel-caption h1 {
font-size:72px;
        }
}

 
/* iPads (portrait) ----------- */

@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
.carousel-caption h1{
font-size:72px;
        }
}

 
/* Desktops and laptops ----------- */

@media (min-width: 1224px) {
.carousel-caption h1 {
font-size:72px;
        }
}

 
/* Large screens ----------- */

@media (min-width: 1824px) {
.carousel-caption h1 {
font-size:72px;
        }
}
 
/* iPhone 4 ----------- */

@media (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
.carousel-caption h1 {
font-size:35px;
        }
}






.carousel-caption h2{
  font-size:25px;
  font-family: 'Lato', sans-serif;
  font-weight:300;
}


/*media query for carousel h2 font*/



/* Smartphones (portrait and landscape) ----------- */
@media (min-device-width: 320px) and (max-device-width: 480px) {
.carousel-caption h2 {
font-size:25px;
font-weight:300;
        }
}
 
/* Smartphones (landscape) ----------- */
@media (min-width: 321px){
.carousel-caption h2 {
font-size:25px;
font-weight:300;
        }
}

 
/* Smartphones (portrait) ----------- */
@media (max-width: 320px) {
.carousel-caption h2 {
font-size:25px;
font-weight:300;
        }
}

 
/* iPads (portrait and landscape) ----------- */


@media (min-device-width: 768px) and (max-device-width: 1024px) {
.carousel-caption h2{
font-size:30px;
font-weight:100;
        }
}
 
/* iPads (landscape) ----------- */
@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
.carousel-caption h2 {
font-size:30px;
font-weight:100;
        }
}

 
/* iPads (portrait) ----------- */

@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
.carousel-caption h2{
font-size:30px;
font-weight:100;
        }
}

 
/* Desktops and laptops ----------- */

@media (min-width: 1224px) {
.carousel-caption h2 {
font-size:30px;
font-weight:100;
        }
}

 
/* Large screens ----------- */

@media (min-width: 1824px) {
.carousel-caption h2 {
font-size:30px;
font-weight:100;
        }
}
 
/* iPhone 4 ----------- */

@media (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
.carousel-caption h2 {
font-size:30px;
font-weight:300;
        }
}









/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
  color:white;
}
.marketing h2 {
  font-weight: normal;
  color:white;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
  color:white;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.featurette-image{
  height:100%;
  width:100%;
  border:1px solid #;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;  
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }


  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}


