/*clean up and organize*/


#header-txt{
text-align:center;
margin-top:-33px;
font-family: 'Raleway', sans-serif;
font-weight:800;
}

#header-txt h1{
text-align:center;
font-family: 'Halant', serif;
font-size:37px;
}

#section-txt{
font-size:42px;
font-family: 'Raleway', sans-serif;
font-weight:400;
line-height: 1;
margin-top:120px;
}

#first-header{
font-family: 'Anton', sans-serif;
font-size:54px;
}

.header-white{
color:white;
font-family: 'Raleway', sans-serif;
font-weight:100;
}

.bio-white{
color:white;
font-family: 'Raleway', sans-serif;
font-weight:100;
font-size:15px;
}

/*For BIO Modal*/

.bio-modal{
color:black;
font-family: 'Raleway', sans-serif;
font-weight:300;
font-size:15px;
}

.first-modal{
font-size:60px;
font-family: 'Pacifico', cursive;
color:black!important;
}

#section-modal{
font-size:42px;
font-family: 'Raleway', sans-serif;
font-weight:400;
line-height: 1;
margin-top:50px;
color:black!important;
}


.header-white h1{
color:white;
}

#header-caption{
	font-size:20px;
	font-family: 'Raleway', sans-serif;
	font-weight:100;
}

.social-buttons{
	height:40px;
	width:40px;
	margin-left:10px;
	margin-top:5px;

}

.social-buttons:hover{
	opacity:0.8;

}

.navbar{
	font-family: 'Raleway', sans-serif;
	background-color:transparent;
	border-color:transparent;
	font-size:18px;
}

a.navbar-brand{
	padding-right:105px;


}

.first-letter{
	font-size:72px;
	font-family: 'Bilbo Swash Caps', cursive;
}


#news-txt{
font-family: 'Raleway', sans-serif;
font-size:20px;
}

.footer-links{
padding-right:380px;
margin:10px;
}


.navbar-inverse .navbar-nav>li>a{
color:#777;
cursor:pointer;
}

.modal-header {
  min-height: 16.42857143px;
  padding: 15px;
}

/*.logo-img{
margin-top: -39px;
padding top: 5px;
height:87px;
}*/



/*===media query for social buttons/icons===========*\



/* Smartphones (portrait and landscape) ----------- */
@media (min-device-width: 320px) and (max-device-width: 480px) {
.social-buttons {
margin-left:1px;
margin-top:1px;
        }
}
 
/* Smartphones (landscape) ----------- */
@media (min-width: 321px){
.social-buttons {
margin-left:1px;
margin-top:1px;
        }
}

 
/* Smartphones (portrait) ----------- */
@media (max-width: 320px) {
.social-buttons {
margin-left:1px;
margin-top:1px;
        }
}

 
/* iPads (portrait and landscape) ----------- */


@media (min-device-width: 768px) and (max-device-width: 1024px) {
.social-buttons {
margin-left:10px;
margin-top:5px;
        }
}
 
/* iPads (landscape) ----------- */
@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
.social-buttons {
margin-left:10px;
margin-top:5px;
        }
}

 
/* iPads (portrait) ----------- */

@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
.social-buttons {
margin-left:10px;
margin-top:5px;
        }
}

 
/* Desktops and laptops ----------- */

@media (min-width: 1224px) {
.social-buttons {
margin-left:10px;
margin-top:5px;
        }
}

 
/* Large screens ----------- */

@media (min-width: 1824px) {
.social-buttons {
margin-left:10px;
margin-top:5px;
        }
}
 
/* iPhone 4 ----------- */

@media (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
.carousel-caption h1 {
font-size:35px;
        }
}

/*===media query for line spacing===========*\



/* Smartphones (portrait and landscape) ----------- */
@media (min-device-width: 320px) and (max-device-width: 480px) {
#section-txt {
margin-top:-2px;
        }
}
 
/* Smartphones (landscape) ----------- */
@media (min-width: 321px){
#section-txt {
margin-top:-2px;
        }
}

 
/* Smartphones (portrait) ----------- */
@media (max-width: 320px) {
#section-txt {
margin-top:-2px;
        }
}

 
/* iPads (portrait and landscape) ----------- */


@media (min-device-width: 768px) and (max-device-width: 1024px) {
#section-txt {
margin-top:22px;
        }
}
 
/* iPads (landscape) ----------- */
@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
#section-txt {
margin-top:22px;
        }
}

 
/* iPads (portrait) ----------- */

@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
#section-txt {
margin-top:22px;
        }
}

 
/* Desktops and laptops ----------- */

@media (min-width: 1224px) {
#section-txt {
margin-top:120px;
        }
}

 
/* Large screens ----------- */

@media (min-width: 1824px) {
#section-txt {
margin-top:120px;
        }
}
 
/* iPhone 4 ----------- */

@media (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
#section-txt {
margin-top:-2px;
        }
}


/*===media query for featurette divider===========*\



/* Smartphones (portrait and landscape) ----------- */
@media (min-device-width: 320px) and (max-device-width: 480px) {
.featurette-divider {
margin:30px;
        }
}
 
/* Smartphones (landscape) ----------- */
@media (min-width: 321px){
.featurette-divider {
margin:30px;
        }
}

 
/* Smartphones (portrait) ----------- */
@media (max-width: 320px) {
.featurette-divider {
margin:30px;
        }
}

 
/* iPads (portrait and landscape) ----------- */


@media (min-device-width: 768px) and (max-device-width: 1024px) {
.featurette-divider {
margin:50px;
        }
}
 
/* iPads (landscape) ----------- */
@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
.featurette-divider {
margin:50px;
        }
}

 
/* iPads (portrait) ----------- */

@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
.featurette-divider {
margin:50px;
        }
}

 
/* Desktops and laptops ----------- */

@media (min-width: 1224px) {
.featurette-divider {
margin:50px;
        }
}

 
/* Large screens ----------- */

@media (min-width: 1824px) {
.featurette-divider {
margin:50px;
        }
}
 
/* iPhone 4 ----------- */

@media (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
.featurette-divider {
margin:30px;
        }
}
