/*clean up and organize*/


#header-txt{
text-align:center;
margin-top:-33px;
font-family: 'Raleway', sans-serif;
font-weight:800;
}

#header-txt h1{
text-align:center;
font-family: 'Halant', serif;
font-size:37px;
}

#section-txt{
font-size:42px;
font-family: 'Raleway', sans-serif;
font-weight:400;
line-height: 1;
margin-top:120px;
}

.header-white{
color:white;
font-family: 'Raleway', sans-serif;
font-weight:100;
}

.header-white h1{
color:white;
}

#header-caption{
	font-size:20px;
	font-family: 'Raleway', sans-serif;
	font-weight:100;
}

.social-buttons{
	height:40px;
	width:40px;
	margin-left:10px;
	margin-top:5px;

}

.social-buttons:hover{
	opacity:0.8;

}

.navbar{
	font-family: 'Raleway', sans-serif;
	background-color:transparent;
	border-color:transparent;
	font-size:18px;
}

a.navbar-brand{
	padding-right:135px;


}

.first-letter{
	font-size:60px;
	font-family: 'Pacifico', cursive;
}


#news-txt{
font-family: 'Raleway', sans-serif;
font-size:20px;
}

.footer-links{
padding-right:380px;
margin:10px;
}





/*===media query for social buttons/icons===========*\

/*media query for font*/



/* Smartphones (portrait and landscape) ----------- */
@media (min-device-width: 320px) and (max-device-width: 480px) {
.social-buttons {
margin-left:1px;
margin-top:1px;
        }
}
 
/* Smartphones (landscape) ----------- */
.social-buttons {
margin-left:1px;
margin-top:1px;
        }
}

 
/* Smartphones (portrait) ----------- */
@media (max-width: 320px) {
.social-buttons {
margin-left:1px;
margin-top:1px;
        }
}

 
/* iPads (portrait and landscape) ----------- */


@media (min-device-width: 768px) and (max-device-width: 1024px) {
.social-buttons {
margin-left:10px;
margin-top:5px;
        }
}
 
/* iPads (landscape) ----------- */
@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape) {
.social-buttons {
margin-left:10px;
margin-top:5px;
        }
}

 
/* iPads (portrait) ----------- */

@media (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:portrait) {
.social-buttons {
margin-left:10px;
margin-top:5px;
        }
}

 
/* Desktops and laptops ----------- */

@media (min-width: 1224px) {
.social-buttons {
margin-left:10px;
margin-top:5px;
        }
}

 
/* Large screens ----------- */

@media (min-width: 1824px) {
.social-buttons {
margin-left:10px;
margin-top:5px;
        }
}
 
/* iPhone 4 ----------- */

@media (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
.carousel-caption h1 {
font-size:35px;
        }
}

/*@media (min-width: 320px) and (max-width: 600px) {
.social-buttons {
 margin-left:5px;
 margin-top:10px;
        }

@media (min-width: 601px) and (max-width: 2000px){
	.navbar-brand{
		padding-left:1px;
	}
}

@media (min-width: 320px) and (max-width: 600px) {
 .navbar-brand {
 padding-left:50px;
        }
*/